@import "../../../styles/variables";


.servicesWrap {
  display: grid;
  grid-template-columns: auto 1fr auto;

  button {
    align-self: center;
  }
}

.services {
  position: relative;
  display: flex;
  align-items: center;
  overflow: scroll;
  padding: 1rem 0;
  gap: 1rem;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }


}