@import "../../styles/variables";

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  img {
    width: 3rem;
    border-radius: 50%;
    border: 2px solid $tint2;
  }

  span {
    text-transform: capitalize;
  }
}