@import "../../styles/variables";

.button {
  padding: 10px 40px;
  border: 0;

  color: white;
  border-radius: 32px;
}

.mainButton {
  background-color: $tint1;
}

.secondaryButton {
  background-color: $tint2;
}

.blankButton {
  color: black;
  background-color: white;
}

.disabled {
  opacity: .5;
}