@import "../variables";

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

  .service {
    min-width: 10rem;
    height: 12rem;

    padding: 1rem;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: $default_shadow;

    transition: scale .1s;

    cursor: pointer;

    img {
      width: 6rem;
    }

    &:hover {
      scale: 1.05;
    }
  }
}