// privadas

$_blue_0: #0065a1;
$_blue_1: #66e2b5;
$_blue_2: #b0f9ee;

$_grey_0: #444444;
$_grey_1: #cccccc;
$_grey_2: #efefef;



// colors

$headerbg: #f4f4f4;
$tint0: $_grey_0;
$tint1: $_blue_0;
$tint2: $_blue_1;
$tint3: $_blue_2;


// spacing
$page_side_padding: 180px;
$mobile_side_padding: 16px;

//other

$default_shadow: 2px 2px 5px $tint1;
