@import "../variables";

.footer{
  margin-top: 3rem;
  padding: 1rem 0;

  color: white;
  background-color: $main_dark;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  &Column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &Title {
      font-weight: 700;
    }
  }
}