@import "../../../styles/variables";

.header {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: $tint1;


  .loginContainer {
    position: absolute;
    top: .5rem;
    right: 1rem;
  }

  .navbar {
    position: fixed;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);

    height: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
  }

  .hero {
    height: 10rem;
    width: 100%;
    padding: 0 $page_side_padding;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      img {
        mix-blend-mode: plus-lighter;
      }
    }


    @media (max-width: 800px) {
      padding: 2rem $mobile_side_padding;
    }
  }
}