@import "../../../styles/variables";

.footer {
  margin-top: 3rem;
  padding: 1rem 0;

  color: white;
  background-color: $tint1;

  a{
    width: 100%;;
  }

  &ColumnTitle {
    width: 100%;

    border-bottom: 1px solid white;

    text-align: center;
    font-weight: 700;
  }
}